<!DOCTYPE html>
<html lang="en">  <!-- specifies doc type and language of the document -->
<head>
    <meta charset="UTF-8">  <!-- set char encoding for doc -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- ensure page is responsive, set viewpoint as device's width -->
    <title>Traffic Data</title>  <!-- webpage title in browser tab -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  <!-- includes Chart.js library to render charts -->
</head>
<body>
    <div id="root"></div>  <!-- root element for React -->
    <h1>Live Lane Traffic Volume</h1>  <!-- heading of webpage -->
    <canvas id="trafficChart"></canvas>  <!-- canvas where chart will be placed -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
