<!-- login.html logs user in -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="login-container">
    <h1>Login</h1>  <!-- pg header -->
    <form method="POST">  <!-- form to log in -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>  <!-- input field for username -->
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>  <!-- input for password -->
        </div>
        <div class="form-group">
            <button type="submit">Login</button>  <!-- login/submit form button -->
        </div>
    </form>
    {% if error %}
    <p class="error">{{ error }}</p>  <!-- error msg -->
    {% endif %}
</div>
</body>
</html>
